@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: optional;
    src: url("/fonts/inter-var-latin.woff2") format("woff2");
  }

  @font-face {
    font-family: "Cascadia";
    font-style: normal;
    font-display: optional;
    src: url("/fonts/CascadiaCode.woff2") format("woff2");
  }

  h1 h2 h3 h4 h5 h6 {
    font-family: "Inter";
  }

  pre {
    font-family: "Cascadia";
  }
}

.component-preview {
  @apply flex flex-row gap-4 w-full flex-wrap p-4 bg-slate-500 bg-opacity-25 rounded-lg;
}

.toc {
  @apply bg-gray-500 rounded-lg py-2 bg-opacity-25 w-full;
}

.toc-item {
  @apply before:content-['-'] before:pr-2 font-semibold text-lg;
}

.toc-link {
  @apply no-underline text-gray-600 hover:text-black dark:text-gray-300 dark:hover:text-white !important;
}
