@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-Regular";
  font-style: normal;
  font-display: optional;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter-Medium";
  font-style: normal;
  font-display: optional;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
}